{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


<script>
  document.addEventListener("DOMContentLoaded", function() {
    const quantityInput = document.getElementById('id_quantity');
    const unitPriceInput = document.getElementById('id_unit_price');
    const totalPriceInput = document.getElementById('id_total_price');

    quantityInput.addEventListener('input', calculateTotal);
    unitPriceInput.addEventListener('input', calculateTotal);

    function calculateTotal() {
      const quantity = parseInt(quantityInput.value, 10);
      const unitPrice = parseInt(unitPriceInput.value, 10);
      const totalPrice = quantity * unitPrice || 0;
      totalPriceInput.value = totalPrice;
    }
  });
</script>


  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
  <link rel="icon" type="image" src="https://edge-a.anydone.com/e344ce6892a7480d9ae5aaff9d3f96d6.svg">
  <style>
    .navbar {
      background-color: black;
    }

    .navbar .nav-link {
      color: white;
    }
  </style>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
  <div class="container-fluid align-items-center justify-content-center vh-100">
    {% include 'navbar.html' %}

    <div class="container">

        <h1>Computer Form</h1>
  <form method="POST" action="" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="form-group">
      <label for="computer_code">Computer Code</label>
      {{ form.computer_code|add_class:"form-control" }}
    </div>

    <div class="form-group">
      <label for="computer">Computer</label>
      {{ form.computer|add_class:"form-control" }}
    </div>

    <div class="form-group">
      <label for="computer_unit">Unit Price</label>
      {{ form.unit_price|add_class:"form-control" }}
    </div>

    <div class="form-group">
      <label for="computer_quantity">Quantity</label>
      {{ form.quantity|add_class:"form-control" }}
    </div>

    <div class="form-group">
    <label for="computer_code">Total Price</label>
    {{ form.total_price|add_class:"form-control" }}
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>


    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
</body>
</html>
